@font-face {
   font-family: 'Avenir-Black';
   font-display: swap;
   src: url('file:///C:/Users/Administrator/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-25_140242/fonts/Avenir-Black/font.ttf');
}
